img{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    float: left;
    width: 20%;

}
img:hover{
    opacity: 0.7;
}

.nav{
    width: 1200px;
    height: 371px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
 

}
#header{ 
    background-image: url(./img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1,p,a,#article{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1{
    color: rgb(188, 233, 245);
    margin-left: -15px;
}
a{
    margin: 20px;
    color: azure;
}
a:hover{
    color: rgb(108, 204, 248);
}
a:focus{
    color: red;
}
    

#article{
    text-align: center;
    display: block;
    margin-left: 50px;
    font-size: 150%;
    margin-right: 50px;
    height: 250px;

}
button{
    background-color: white;
    border: solid 2px green;
    width: 100px;
    height: 50px;
    margin: 10px;
}
button:hover{
    background-color: green;
    cursor: pointer;
}
button:focus{
    background-color: green;
}



